<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Athenian Town Meeting</title>
    <link href="{{ url_for('static', filename='home.css') }}" rel="stylesheet" />
</head>
<body>
    <div id="top">
        <h1>Athenian Town Meeting</h1>
    </div>
    <div id = "proposals">
        <h2>
            <a href = "/proposals">Active Proposals</a>
        </h2>
        <table id = "proposalTable">
            <tr>
                <th>Title</th>
                <th>Full text</th>
                <th>Formal for</th>
                <th>Formal against</th>
                <th>Status</th>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
        <a href = "/proposals/create">Submit a new proposal!</a>
        <a href = "/proposals">View all proposals</a>
        <a href = "/proposals/edit">Edit proposal list</a>
    </div>
</body>
</html>